{% extends "base.html" %}

{% block title %}
<title>APP Studio Lista Estudiantes</title>
{% endblock title %}

{% block inicio %}



    <h1 style="color: yellow;">Bienvenidos! los saluda el profesor {{profesor}}</h1>
    <h3>Alumnos inscriptos:</h3>
    <ul>
        {% for estudiante in estudiantes %}
        <li>
            {{estudiante.apellido}}, {{estudiante.nombre}}, nota: {{estudiante.nota}},
            {% if estudiante.nota > 5 %}
            APROBADO
            {% else %}
            REPROBADO
            {% endif %}

        </li>
        {% endfor %}
    </ul>
    
    {% endblock inicio %}